@charset "UTF-8";
/* CSS Document created by Kevin Dacruz, Spring 2019*/

body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.7em;
	color: #000000;
	background-color: #333333;
	padding: 0 40px;
	margin: 0;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #000000;
}
h1 {
	margin: 0;
	font-size: 24px;
	padding: 0 40px;
	font-variant: small-caps;
	letter-spacing: .5em;
	line-height: 2em;
}
h2 {
	font-size: 20px;
	padding: 6px;
	font-variant: small-caps;
	letter-spacing: 0.5em;
	background-color: #cccccc;
}
h3 {
	font-size: 17px;
	letter-spacing: 0.5em;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #000000;
	padding: 4px 0;
	font-variant: small-caps;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #FFFF00;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 12px;
}
ol {
	margin-left: 14px;
}

/* table styles -------------------------------------- */
table {
	border: solid #ffffff 1px;
}
td {
	padding: 6px;
	border: solid #ffffff 1px;
}
th {
	font-weight: bold;
	background-color: #ffffff;
	text-align: center;
	padding: 6px;
	border: solid #ffffff 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #ffffff 1px;
}

img {
	border: solid #ffffff 1px;

}

iframe {
	border: solid #ffffff 1px;
	padding: 8px;
	margin: 8px;
}
/* DIV STYLES FOR PAGE LAYOUT */


#container { 
	width: 1000px; 
	margin: 0 auto; 
	background-color: #fff; 
	overflow: hidden; 
}
#header { 
	width: 100%; 
	background-color: #EEE;
	border-bottom: 1px solid #800000;
}
#content { 
	width: 600px;
	float: left; 
	padding-bottom: 40px;
}
#sidebar { 
	width: 278px; 
	float: left;
	margin-top: 50px;
	margin-right: 20px;
	background: #eee;
	border: 1px solid #800000;
	border-radius: 12px;
	box-shadow: 10px 10px 5px #888888;
}
#sidebar p{
	padding: 0;
	float: right;
}
#footer { 
	clear: both;
	width: 100%; 
	background-color: #EEE;
	border-top: 1px solid #800000;
}
#footer p {
	margin: 0;
	padding: 40px;
}